{
    "env": {
        "node": true
    },
    "sourceType": "module",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "extends": [
        "eslint:recommended",
        "google"
    ],
    "rules": {}
}